/* You can add global styles to this file, and also import other style files */
// :root
// {
//     --color-secondary: #112D4E;     // header background content background
//     --color-background: #282C35;    // body background
//     --color-tertiary: #DBE2EF;      // accents, header text, highlighted text
//     --color-primary: #F9F7F7;       // text
// }

:root {
  --color-secondary: #242526; // header background content background
  --color-background: #3b3d4e; // body background
  --color-tertiary: #44a6cf; // accents, header text, highlighted text
  --color-primary: #f5f6f7; // text
  --animation-transition-speed: 0.3s;
}

html {
  background-color: var(--color-background);

  /* The default font size is 16px */
  font-size: medium;
}

body {
  padding: 0px !important;
}

.container-body {
  background-color: var(--color-background);
  color: var(--color-primary);
}

/*
Dark theme :
Darker
-------
$color1	-> header background content background		30%		    | secondary
$color2 -> body background				            60%		    | background
$color3 -> accents, header text, highlighted text 	10%		    | tertiary/accent
$color4 -> text						                All text	| primary/text
-------
lighter


Light Theme:
Darker
-------
$color1 -> text						                All text	| primary/text
$color2	-> accents, header text, highlighted text	10%		    | tertiary/accent
$color3 -> header background, content background	30%		    | secondary
$color4 -> body background				            60%		    | background
-------
lighter
*/
